<footer class="s_footer footer_pre">	
	<div class="s_footer_inner df aic">
		<div class="container">
			<div class="footer_bl df aic jcfe">
				<div class="copyright">© Grape Digital 2018</div>
		
				<ul class="footer_menu df">
					<li class="footer_menu_li">
						<a href="#main">
							Main
						</a>
					</li>
		
					<li class="footer_menu_li">
	                    <a href="#about">
	                       About
	                    </a>                       
	                </li>
	
	                <li class="footer_menu_li">
	                    <a href="#gifts">
	                        Gifts
	                    </a>
	                </li>                    
	
	                <li class="footer_menu_li">
	                    <a href="#winners">
	                    	Winners
	                    </a>
	                </li>
	
	
	                <li class="footer_menu_li">
	                    <a href="#contacts">
	                    	Contacts
	                    </a>
	                </li>
				</ul>
			</div>
		</div>
	</div>
</footer>	

<div class="remodal popup_bl" id="thanks_popup" data-remodal-id="thanks_popup">
	<button data-remodal-action="close" class="popup-close"></button>
  <div class="popup_bl_inner">
    <h2 class="popup_ttl">Thank you for registration!</h2>
    
    <div class="img_wr flower_border">
		<img src="img/svg/flower-border.svg" alt="alt">
	</div>
  </div>
</div>

<script src="libs/libs.js"></script>
<script src="js/main.js"></script>
