/*main css*/
/*--------*/
/*common css*/
.half_col {
  width: 48%;
}


/*buttons*/
.btn_prop {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  position: relative;
  font-size: 16px;
  font-weight: 500;  
  text-align: center;
  border-radius: 25px;
  padding: 12px 5px 14px;
  transition: all .5s;    
}

.group_age .field:first-child {
  margin: 0 30px 0 0;
}



.group_using .field:first-child {
  margin: 0 5px 0 0;
}

.group_using .field {
  max-width: 135px;
  width: 100%;
  flex: none;
}

.btn_reset {
  border: 1px solid $accent_color;
  color: $accent_color;
  margin: 0 5px 0 0;

  &:hover {
    box-shadow: 0 0 25px 2px rgba(225,100,92,.3);
  }
}

.btn_send {
  border: 1px solid $main_color;
  color: $main_color;

  &:hover {
    box-shadow: 0 0 25px 2px rgba(48,103,54,.3);
  }
}


/*form*/
.form {
  width: 415px;
  max-width: 100%;
  margin: 0 auto;
}

.form .field {
  position: relative;
  
}

.field_group {
  margin: 0 0 25px;
}

.bl_fields .field {
  width: 100%;
}

.bl_fields label {
  color: #000;
  opacity: .6;
  font-weight: 300;
  transition: all .3s ease;
}

input {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #1c1c1c;    
    letter-spacing: 1px; 
    transition: all .5s;
    margin: 0;
}

.bl_fields input {
    padding: 5px 24px;  
    width: 100%;
    border: 2px solid #e7e7e7;
    position: relative;
    z-index: 2;
    background: transparent;
    transition: all .5s;
}

.bl_fields label {
  position: absolute;
  z-index: 1;
  left: 24px;
  top: 0;
  line-height: 33px;
  transition: all .5s ease;
}

.front_page_content {
  overflow-x: hidden;
  
}


.bl_fields .field_group.focus label {
    font-size: 12px;
    top: -28px;
}

 
.bl_fields .field_group.focus:not(.has-error) input {
    border: 2px solid $main_color;
}


.field_group {
  .type-error-msg,
  .error-msg {
    font-size: 14px;
    color: #D85E2D;
    position: absolute;
    right: 0;
    top: -19px;
    opacity: 0;
    transition: .5s;  
  }

}


.has-error  {
  input {
    border: 2px solid #D85E2D
  }

  &.has-error--type .type-error-msg {
      opacity: 1;    
    }

  &.has-error--required .error-msg { 
   opacity: 1;
  }
}

input[type='checkbox'], 
input[type='radio'] {
    width: 16px;
    height: 16px;
    margin: 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    left: 0;
    top: 0;   
}

.bl_checkboxes,
.bl_radiobtns {
  .field {
    margin: 0 0 6px; 
  } 


  label {
    position: relative;
    padding: 0 0 0 32px;
    display: inline-block;
    cursor: pointer;
    transition: color .5s;
    

    &:before {
      width: 16px;
      height: 16px;
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      display: inline-block;
      z-index: 0;
      border: 2px solid $text_color;
      background-image: none;      
      background-repeat: no-repeat;
      background-position: center center;
      transition: background .5s;
    }
  }
}

.bl_checkboxes {
  .col_left {
    max-width: 145px;
    width: 100%;
    margin: 0 24px 0 0;
    flex: none;
  }

  .col_right {
    width: calc(100% - 169px);
  }  
}

.bl_checkboxes label:before {
  background-size: contain;
}

.bl_radiobtns {
  .has-error {
    label {
      color: #D85E2D;
    }
  }
  label {   
    &:before {
      border-radius: 50%;
      background-size: 8px 8px;
    }
  }
}

.bl_checkboxes input[type='checkbox']:checked + label,
.bl_radiobtns input[type='radio']:checked + label {
  color: $main_color;
}

.bl_checkboxes input[type='checkbox']:checked + label:before {
    background-image: url(../img/svg/check.svg);
}

.bl_radiobtns input[type='radio']:checked + label:before {
    background-image: url(../img/svg/circle.svg);
}

/* ------adaptive menu------------ */

.mobile_btn_menu,
.burger {
  display: none
}  

.mob_nav_wr {
  visibility: hidden;
}

.burger_line {
  transition: all .5s;
}

.burger_line_top {
  transform-origin: 90% 26%;
}

.burger_line_mid {
  transform-origin: 50% 50%;  
}

.mobile_btn_menu:checked ~ .burger  {
  border-bottom: 3px solid transparent;

  .burger_line_btm {
    opacity: 0;
  }

  .burger_line_top {
    transform: rotate(-40deg);
  }

  .burger_line_mid {
    transform: rotate(-140deg);
  }  
}

.burger {
  outline: none;
  cursor: pointer;  
  width: 32px;
  height: 21px;
  z-index: 2;
  position: relative; 

  svg {
    overflow: overlay;
  }
}
/*end mobile menu*/

.s_header,
.s_footer {
  height: 60px;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 100;
  transform: translate3d(0,0,0);
  transition: transform .5s;

  a {
    color: #fff;
    font-weight: 700;
  } 
}

.s_header_inner,
.s_footer_inner {
  background: $main_color;
  position: relative;
  width: 100%;
  height: 100%;
}

/*header*/
.s_header {
  top: 0;
  position: fixed; 
  transition: transform .5s;
 
}

.s_header_inner.mob_menu__active {
  z-index: 102;
}

.header_menu {
  max-width: 960px;
  width: 100%;
}

.main_menu_li {
  a {
    display: inline-block;
    padding: 5px 20px;
    transition: color .5s, background .5s;  
  }

  &.main_menu_li__active,
  &:hover {
    a {
      background: #fff;
      color: $main_color; 
    }
    
  }
}

/*footer*/

.s_footer {
  position: absolute;
  bottom: 0; 
  transition: transform .5s ease .2s;
   
}

.copyright {
  font-weight: 400;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%,0,0);
}

.footer_bl {
  margin: auto;
  width: 92%;
}

.footer_menu_li {
  margin: 0 40px 0 0;

  &:last-child {
    margin: 0;
  }

  a {
    transition: all .5s;
  }

  &:hover {
    a {
      text-shadow: 1px 1px 10px #000;
    }
  }
}

/*main*/
.body_active_pre {
  opacity: 0;

  .img_4 {    
    opacity: 0;
    transform: translate3d(100%,-50%,0);
  }

  .sec_bg,
  .img_2,
  .img_3 {
    opacity: 0;
  }

  .img_2 {
    transform: translate3d(0,100%,0);
  }

  .img_3 {
    transform: translate3d(0,-100%,0);    
  }
}

.header_pre {
  transform: translate3d(0,-100%,0);
}


.footer_pre {
  transform: translate3d(0,100%,0);
}


.sec_bg {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 348px;
  width: 40vw;
  height: 100%;
  opacity: 1;
  transition: all 1s ease .4s;
}  

.abs_img {
  position: absolute;  
}

.img_1 {
  z-index: 1;
  background: url('../img/bg.png') no-repeat left top / 100% 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img_2 {
  right: 0;
  bottom: -7px;
  width: 36vw;
  min-width: 341px;
  z-index: 2;
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: all 1s ease .6s;
}

.img_3 {
  right: 2vw;
  bottom: 24vw;
  width: 34vw;
  min-width: 330px;
  z-index: 3;
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: all 1s ease .8s;
}

.img_4 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate3d(0,-50%,0);
  width: 10vw;
  height: 100vh;
  max-width: 183px;
  z-index: 1;
  opacity: 1;
  transition: all .5s ease 1s;
}

.front_page_sec {
  min-height: 100vh;
  padding: 60px 0;

  .sec_col {
    width: 66%;
    margin-left: 34%;
  }  

  .sec_bg_mob {
    display: none;    
  }
}

.sec_inner {
  position: relative;  
  height: calc(100vh - 120px);
}

.sec_content {
  width: 100%;
}

.form_ttl {
  font-family: 'Ruluko', sans-serif;
  color: $accent_color;
  font-size: 48px;
  text-align: center;
  margin: 0 0 30px;  
}

.flower_border img {
  max-width: 412px;
  height: 121px;
  max-height: 100%;
  margin: 0 auto;
}

.form_block .flower_border img {
  margin: 0 auto 35px;  
}

.fp_h1 {
  text-align: center;  
}

.popup_bl {
  text-align: center;
  margin: 0 auto;
}

.popup_ttl {
  margin: 0 0 25px;
}

.remodal-overlay {
  z-index: 98;
}

.remodal-wrapper {
  z-index: 99;
}

.popup-close {
  width: 26px;
  height: 26px;
  font-family: 'icomoon';
  background: #fff;
  color: $accent_color; 
  position: absolute;
  right: 0;
  top: 0;  
  transition: all .5s;

  &:before {
    content: "\e900";
    transition: all .5s;
  }

  &:hover {
    &:before {
      opacity: .7;
    }
  }
}




