 
/*main*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;    
} 

img {
  width: 100%;
  display: block
} 

input,
textarea {
  &:focus {
    outline: none
  }
}
    
.tac {
  text-align: center
}

.tar {
  text-align: right;
}

.ttu {
  text-transform: uppercase
}

/* display:flex */
.df {
  display: flex
}
.fw {
  flex-wrap: wrap
}
.jcsa {
 justify-content: space-around
}
.jcsb {
  justify-content: space-between
}
.jcfe {
  justify-content: flex-end
}
.jcc {
  justify-content: center
}
.aic {
  align-items: center
}
.aifs {
  align-items: flex-start
}
.aife {
  align-items: flex-end
}
.aib {
  align-items: baseline
}
.ais {
  align-items: stretch
}
.fdr {
  flex-direction: row
}
.fdc {
  flex-direction: column
}
.asc {
  align-self: center
}
.asfe {
  align-self: flex-end
}
.asfs {
  align-self: flex-start
}

html,
body {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: normal;
  -webkit-font-smoothing: antialised;
  font-weight: 400;
  color: $text_color;
  position: relative;    
  opacity: 1;
  transition: opacity 1s;
}

a {
  text-decoration: none
}

ul {
  list-style-type: none
}

a:focus,
button:focus,
button:active {
  outline: none
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;

  span {
    display: block
  }
}

ul li {
  list-style-type: none
}

.hidden {
  display: none
}

section {
  position: relative;
}


h1 {
 font-size: 144px;
 color: $accent_color;
 font-family: 'Yesteryear', cursive;
 line-height: normal; 
}

h2 {
  font-size: 64px;
  color: $accent_color;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .33px;
  font-weight: 300;
}

