@font-face {
    font-family: 'BebasNeue Bold';
    src: url('../fonts/bebasneue_bold.eot');
    src: url('../fonts/bebasneue_bold.woff') format('woff'),
         url('../fonts/bebasneue_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Yesteryear');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Ruluko');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?eypa8');
  src:  url('../fonts/icomoon/icomoon.eot?eypa8#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?eypa8') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?eypa8') format('woff'),
        url('../fonts/icomoon/icomoon.svg?eypa8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e900";
  color: #e98d87;
}