/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 600px;
  }  


  .popup_bl {
    border-radius: 16px;
    text-align: center;
  }

  .popup-close {
    right: -13px;
    top: -13px;
    border-radius: 4px;

    &:hover {
      box-shadow: 5px -5px 25px 1px #333;    
    }
  }
}

@media only screen and (max-width: 640px) {
  .remodal-wrapper {
    padding: 38px 0;
  }  

  .remodal {
    height: 100%;
  }

  .popup_bl_inner {
    position: relative;
    top: 50%;
    transform: translate3d(0,-50%,0);
  }
}

@media only screen and (max-width : 1670px) {
  h1 {
    font-size: 96px;   
  }

  .form_ttl {
    font-size: 36px;
  }

  .form_block .flower_border img {
    margin: 0 auto 25px;
  }
}

@media only screen and (max-width : 1440px) {
  .footer_menu_li {
    margin: 0 28px 0 0;
  }

}

@media only screen and (max-width : 1199px) { 
  h1 {
    font-size: 64px;   
  }  

  .form_ttl {
    font-size: 24px;
  }

  .form_block .flower_border {
    display: none;    
  }


}

@media only screen and (max-width : 1024px) {  
 


 
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
  .footer_menu_li {
    margin: 0 16px 0 0;
  }  
}

@media only screen and (max-width : 959px) {
   /*mobile menu*/
  .main_menu,
  .mobile_nav_menu {
    display: none;    
  } 

  .mobile_menu {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate3d(0,-50%,0);

    a {
      color: $accent_color;
    }
  } 

  .mob_nav_wr {    
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 101;
    width: 100%;   
    left: 0;
    right: 0;
    top: 38px; 
    background-color: #fff;
    display: flex;  
    will-change: transform;
    transform: translate3d(0,-100%,0);
    transition: all .5s;
  }

  .mob_nav_wr.nav_menu__active {
    transform: translate3d(0,0,0);
    visibility: visible;    
  }

  .burger {
    display: block;   
  }

  .mobile_nav_menu {
    display: inline-block;
    list-style-type: none;
    margin: 0 auto;

    a {      
      color: $accent_color;
    }
  }

  .mobile_nav_menu_li {
    margin: 0 0 30px;

    &:last-child {
      margin: 0;
    }
  }
  
  .mobile_nav_menu_li > a {
    text-decoration: none; 
    padding: 5px 15px;
    font-size: 36px;
    color: $main_color;      
    transition: all 0.5s;

    &:hover {
      background: #fff;
      color: #fff;
      background:  $main_color;
    }
  }
  /*mobile menu end*/ 

  .s_header {
    position: fixed;    
  } 

  .s_header, 
  .s_footer {
    height: 38px;
  }

  .front_page_sec {
    padding: 38px 0;

    .sec_row {
      padding: 20px 0 30px;
    }

    .sec_inner {
      height: auto;
    }
  }

  .front_page_sec .sec_col {
    width: 100%;
    margin-left: 0;
  }

  .front_page_sec .sec_bg,
  .img_4 {
    display: none;
  }

  .front_page_sec .sec_bg_mob {
    display: block;
    width: 100%;
    max-height: 438px;
    min-height: 180px;
    height: 50vw;
    background: url('../img/woman_bg.jpg') no-repeat left top / cover;
   
  }

  .footer_bl {
    width: 100%;
    justify-content: center;
  }

  .copyright {
    position: static;
    left: initial;
    transform: translate3d(0,0,0);    
  }

  .footer_menu {
    display: none;    
  }  


}

/* Small Devices, Tablets */
@media screen and (min-width: 1670px) and (max-width: 1800px) and (min-height: 600px) and (max-height: 900px) {
  h1 {
    font-size: 110px;
    line-height: 1;
    margin: 0 0 10px;
  }

  .form_ttl {
    font-size: 40px;
    margin: 0 0 25px;
  }

  .form_block .flower_border img {
    margin: 0 auto 35px;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1669px) and (min-height: 500px) and (max-height: 799px) {
  h1 {
    font-size: 86px;
    line-height: 1;
    margin: 0 0 10px;
  }

  .form_ttl {
    font-size: 24px;
    margin: 0 0 10px;
  }

  .form_block .flower_border img {
    margin: 0 auto 20px;
  }

  .img_2 {
    width: 29vw;
  }

  .img_3 {
    width: 27vw;
    bottom: 19vw;
  }
}

@media screen and (min-width: 1280px) and (max-height: 576px) {
 min-height: 576px;
}

@media screen and (min-width: 1023px) and (max-width: 1800px) and (min-height: 500px) and (max-height: 760px) {
 .flower_border {
  display: none;  
 }
}

@media only screen and (max-width : 767px) { 
  .bl_checkboxes {
    .col_left {
      max-width: none;
      margin: 0 0 8px;
    }

    .col_right {
      width: 100%;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) { 
  h1 {
    font-size: 40px;
  }

  .form_ttl {
    font-size: 18px;
  }
}