//= tpls/header.html


<main id="front_page" class="front_page_content">	
	<section class="sec front_page_sec">
		<div class="sec_inner df aic fw">
			<div class="sec_bg">				
				<div class="abs_img img_1"></div>
				<img src="img/svg/woman.svg" alt="alt" class="abs_img img_2">
				<img src="img/svg/wreath.svg" alt="alt" class="abs_img img_3">
			</div>

			<img src="img/svg/camomile.svg" alt="alt" class="img_4">

			<div class="sec_bg_mob"></div>

			<div class="sec_content">
				<div class="container">
					<div class="sec_row">					
						<div class="sec_col">
							<h1 class="fp_h1">Nature is magic!</h1>
							
							<div class="form_block">
								<div class="form_ttl">Fill in the form to win prizes</div>
							
								<div class="img_wr flower_border">
									<img src="img/svg/flower-border.svg" alt="alt">
								</div>
				
								<div class="validation-wrap">
									<form id="fd-form1" method="POST" class="fp_form form modalform" action="" name="front_form" novalidate>
							         	<div class="bl_fields">
							                <div class="field_group">                    
							                    <div class="field">
							                      <input type="text" id="user_name" name='name' class="form-control" required="required">                      
							                      <label for="user_name" class="fields_ttl">Name</label>

							                      <span class="type-error-msg">Too short</span>
							                      <span class="error-msg">Fill this field</span>
							                    </div>				                    
							                </div>
					
						                    <div class="field_group">
						                    	<div class="field">
						                      		<input type="email" id="user_mail" name='mail' required="required">
						                      		<label for="user_mail" class="fields_ttl">E-mail</label>
						                      		<span class="type-error-msg">Wrong mail</span>
						                      		<span class="error-msg">Fill this field</span>
						                    	</div>			                    
							                </div>
							            </div> 
					
							            <div class="bl_radiobtns df jcsb">
								      	    <div class="fields_ttl half_col">Are you an adult?</div>
					
								        	<div class="field_group half_col  group_age df jcfe">
								        	    <div class="field">
								        	        <input type="radio" required="required" id="adult_yes" name="age" value="Yes">
												    <label for="adult_yes">Yes</label>
											    </div>
													
												<div class="field">
													<input type="radio" id="adult_no"
													     name="age" value="No" required="required">
													<label for="adult_no">No</label>			
												</div>
											</div>
									    </div>
					
					
							            <div class="bl_checkboxes df fw">
								            <div class="ttl col_left">What creames are you using now?</div>
					
								            <div class="field_group group_using col_right">
								             	<div class="field_row df jcsb">
								             		<div class="field">
								             			<input type="checkbox" id="use_1" name="using" value="for_face">
								             			<label for="use_1">For face</label>
								             		</div>
								             		
								             		<div class="field">
								             			<input type="checkbox" id="use_2" name="using" value="for_skin">
								             			<label for="use_2">For skin</label>
								             		</div>
								             	</div>
					
								             	<div class="field_row df jcsb">
								             		<div class="field">
								             			<input type="checkbox" id="use_3" name="using" value="for_legs_hands">
								             			<label for="use_3">For legs and hands</label>
								             		</div>
								             		
								             		<div class="field">
								             			<input type="checkbox" id="use_4" name="using" value="for_legs_hands">
								             			<label for="use_4">For nails</label>
								             		</div>
								             	</div>
							            	</div>
						          		</div>   					
								        
						                <div class="bl_btns df jcsb">
						                	<button type="reset" class="btn_prop btn_reset js_reset">
						                    	Reset
						                  	</button>
					
						                  	<button name="send" type='submit' class="btn_prop btn_send js_send">
						                    	Submit
						                  	</button>			                  	
						                </div>              
							    	</form>
								</div>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
	
//= tpls/footer.html

</body>
</html>
